:root {
    /* Reference colors */
    --blue-pantone: #3326ae;
    --red-ryb: #FF392Bff;
    --ghost-white: #F7F8FFff;
    --space-cadet: #2B2B4Cff;
    --amber: #FFC005ff;
    /* Custom colors*/
    --white: #fff;
    --white-transparent: #ffffff66;
    --space-cadet-transparent: #2B2B4Cbb;
    --placeholder: #cbcde4;
    --ghost-white-text: #c3c6deff;
    /* Tweet buttons */
    --video: var(--blue-pantone);
    --duration: #00c3f8;
    --likes: var(--red-ryb);
}

aside {
    background-color: var(--white);
    height: 100%;
    padding: 1em;
    border-radius: 1em;
}

.editContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.editContainer i {
    color: var(--ghost-white-text);
}

aside .chartContainer {
    margin-top: 0em;
}

aside .chartContainer span {
    background-color: var(--blue-pantone);
    color: var(--white);
    height: fit-content;
    font-size: .75rem;
    padding: 1.25em 1.7em;
    position: relative;
    float: right;
    top: 4em;
    margin-right: -4em;
    border-radius: .5em;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(51, 38, 174, .3);
    -moz-box-shadow: 0px 5px 9px 0px rgba(51, 38, 174, .3);
    box-shadow: 0px 5px 9px 0px rgba(51, 38, 174, .3);
}

.cardContainer {
    margin-top: 1.5em;
}

aside .header {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    align-items: center;
    font-weight: 600;
}

aside .header.transaction a {
    font-size: 1rem;
    padding: .4em .5em;
    border-radius: .5em;
    color: var(--white);
    background-color: var(--red-ryb);
    text-decoration: none;
}

aside .header.transaction {
    margin-bottom: 1em;
    margin-top: 0;
}

.transactionItem {
    display: flex;
    align-items: center;
    font-size: .9rem;
    justify-content: space-between;
    margin-bottom: 2em;
}

.transactionItem .imgItemContainer {
    display: flex;
}

.transactionItem i {
    color: var(--red-ryb);
}

.transactionItem .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7em;
    background-color: var(--white);
    border-radius: .5em;
    margin-right: 1em;
}

.transactionItem .spendItem {
    display: flex;
    flex-direction: column;
}

.transactionItem .spendItem .date {
    color: var(--ghost-white-text);
    margin-top: .5em;
}

.transactionItem .spendItem .name {
    font-weight: 600;
}

.transactionItem .spendMoney {
    font-weight: 600;
}