/* blog start */
.hc-blog {
  padding-bottom: 30px;
}
.hc-blog-data {
  box-shadow: 0 8px 20px 0 #eee;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  top: -50px;
  left: 0;
  right: 0;
  width: 85%;
  background: #fff;
  margin: auto;
  transition: 0.3s;
}
.hc-blog-box:hover .hc-blog-data {
  box-shadow: 3px 3px 0 5px rgb(253 150 120 / 15%);
}
.hc-blog-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.hc-blog-title {
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 0;
}
.hc-blog-data p {
  margin-bottom: 0;
  margin-top: 10px;
}
.hc-blog-more {
  margin-top: 15px;
  color: #fd9678;
  font-weight: 500;
  display: block;
}
.hc-blog-more i {
  padding-left: 3px;
}
.hc-blog-more:hover {
  letter-spacing: 1px;
}
.hc-blog-img img {
  border-radius: 10px;
  background: #f7f5ec;
}
.hc-blog-social li {
  margin-right: 3px;
  display: inline-block;
}
/* blog end */
